<div id="search">
  <input type="text" name="search" value="{{ search }}" placeholder="Найти" class="header__search" />
  <button type="button" class="search__button"><img src="./image/catalog/toys-store/header/search_loupe.svg" alt="search"></button>
</div>