<section class="aboutUs my-container">
    {% if heading_title %}
    <h2>{{ heading_title }}</h2>
    {% endif %}
    <div class="about-us__items">
        <div class="about-us__item">
            <h3>“Мы развиваем будущее”</h3>
            <p>“Ань-Янь” - Молодая, но быстро растущая компания по производству развивающих
                 деревянных игрушек.“Ань-Янь” - Молодая, но быстро растущая компания по производству
                  развивающих деревянных игрушек.“Ань-Янь” - Молодая, но быстро растущая компания по
                   производству развивающих деревянных игрушек.</p>
            <a href="#" class="about-us__button btn_orange">Подробнее</a>
        </div>
        <div style="background-image: url(./image/catalog/toys-store/home-page/about_us/1.jpg)" class="about-us-img"></div>
        
        <div style="background-image: url(./image/catalog/toys-store/home-page/about_us/2.jpg)" class="about-us-img"></div>
        <div class="about-us__item">
            <p>При изготовлении игрушек используются только материаллы высочайшего качества При изготовлении игрушек используются только материаллы высочайшего качества При изготовлении игрушек используются только материаллы высочайшего качества При изготовлении игрушек используются только материаллы высочайшего качества </p>
            <div class="about-us__button btn_orange">Подробнее</div>
        </div>
    </div>
</section>