<section class="home-catalog my-container">
  {% if heading_title %}
  <h2>{{ heading_title }}</h2>
  {% endif %}
  <div class="home-catalog__categories">
    <div class="categories__item sorters">
      <a href="#"><img src="./image/catalog/toys-store/home-page/catalog/1.png" alt="сортеры"></a>
    </div>
    <div class="categories__item matreshki">
      <a href="#"><img src="./image/catalog/toys-store/home-page/catalog/2.png" alt="кубики-матрешки"></a>
    </div>
    <div class="categories__item alphabet">
      <a href="#"><img src="./image/catalog/toys-store/home-page/catalog/3.png" alt="алфавиты"></a>
    </div>
    <div class="categories__item wood-games">
      <a href="#"><img src="./image/catalog/toys-store/home-page/catalog/4.png" alt="деревянные игры"></a>
    </div>
    <div class="categories__item magic-dressers">
      <a href="#"><img src="./image/catalog/toys-store/home-page/catalog/5.png" alt="волшебные комодики"></a>
    </div>
    <div class="categories__item bizicubiki">
      <a href="#"><img src="./image/catalog/toys-store/home-page/catalog/6.png" alt="бизикубики"></a>
    </div>
  </div>
</section>