<section class="privilege my-container">
    <div class="privilege__wrapper">
        <div class="privilege__item">
            <img src="./image/catalog/toys-store/privilege/robot-arm.svg" alt="робот" class="privilege__image">
            <p>Собственное производство </p>
        </div>
        <div class="privilege__item">
            <img src="./image/catalog/toys-store/privilege/certificate.svg" alt="сертификат" class="privilege__image">
            <p>Контроль качества</p>
        </div>
        <div class="privilege__item">
            <img src="./image/catalog/toys-store/privilege/tasks.svg" alt="список" class="privilege__image">
            <p>Большой ассортимент</p>
        </div>
        <div class="privilege__item">
            <img src="./image/catalog/toys-store/privilege/calendar.svg" alt="календарь" class="privilege__image">
            <p>Еженедельные новинки</p>
        </div>
        <div class="privilege__item">
            <img src="./image/catalog/toys-store/privilege/shopping-bag.svg" alt="сумка с покупками" class="privilege__image">
            <p>Гибкая система скидок</p>
        </div>
    </div>
</section>