/* Specifications */

*{
    margin: 0;
    padding: 0;
    font: 16px "Open Sans", sans-serif;
    color: #333333;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    font: 14px "Open Sans", sans-serif;
    color: #000;
}

ul, li{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h4,p{
    margin: 0;
}

h1{
    font: normal 100px/125px 'Lobster', sans-serif;
    color: #333333;
}

h2{ 
    font: normal 37px/46px 'Lobster', sans-serif;
    color: #333333;
    text-align: center;
}

h4{
    text-align: center;
}

* :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btn_orange{
    display: inline-block;
    background: #F38E3D;
    border: 2px solid #F38E3D;
    border-radius: 5px;
    font: bold 16px/22px 'Open Sans', sans-serif;
    color: #fff;
    cursor: pointer;
}

input[type="search"]::placeholder{
    color: #BDBDBD;
}

.my-container{
    width: 1180px;
    padding: 0 calc(50vw - 590px);
}

/* Header */

header{
    position: fixed;
    z-index: 100;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: repeat(2, 55px);
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    transition: all .3s ease;
}

.header-active{
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__logo{
    display: grid;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 80px;
    height: 60px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 10px;
    font-size: 16px;
    color: #333;
}

.header__top a{    
    color: #333;
}

.header__aboutUs li+li{
    margin-left: 47px;
}

.header__contact-numbers li+li{
    margin-left: 25px;
}

.header__bottom{
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.header__menu{
    width: 156px;
    max-height: 20px;
    border: 1px solid #F38E3D;
    border-radius: 10px;
    padding: 7px 0 11px 22px;
    font-size: 16px;
}

.header__menu a{
    color: #f38e3d;
}

.header__search{
    width: 316px;
    height: 14px;
    padding: 11px 12px 11px 20px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    font-size: 14px;
    line-height: 19px;
    margin-left: -55px;
}

.search__button{
    position: relative;
    left: -32px;
    top: 4px;
}

.header__control-menu{
    padding-top: 6px;
}

.header__control-menu li+li{
    margin-left: 23px;
}

/* ne bag, a fitcha (: */
.header__control-menu img{
    position: relative; 
    top: 4px;
}

.header__control-menu span{
    margin-left: 11px;
}

/* Information home page */

.home-page__information {
    position: absolute;
    top: 170px;
    margin-left: calc(50vw - 590px);
    z-index: 10;
    font: 300 38px/52px 'Open Sans', sans-serif;
    letter-spacing: 0.04em;
}

.information__btn{
    padding: 10px 56px;
    margin: 30px 0;
}

/* Slider home page */

    /* Slider window */

    .swiper-pager-slideshow {
        position: static;
        display: flex;
        justify-content: space-between;
        width: 100px;
    }

    .slider__slide {
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    /* Carousel arrows */

    .carousel__arrow{
        width: 35px;
        height: 35px;
        background: url(../image/arrow.png);
        background-position: center;
        background-size: cover;
    }

    .carousel__arrow.prev {
        transform: rotate(180deg);
    }

    /* Slider pagination */

    .swiper-pagination {
        bottom: -30px;
        width: 100%;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background: #E0E0E0;
        border-radius: 50%;
        box-shadow: none;
        margin: 0 10px;
        transition: all .3s ease;
    }

    .swiper-pagination-bullet-active {
        background: #BD5605;
    }

/* Privilege */

.privilege{
    display: flex;
    justify-content: center;
    background: rgb(248,237,83);
    background: linear-gradient(180deg, rgba(248,237,83,0.3) 52.17%, rgba(0,138,255,0) 100%);
    font: 400 20px/25px 'Open Sans',sans-serif;
    text-align: center;
    color: #000000;
    padding-top: 136px;
    padding-bottom: 155px;
}

.privilege__wrapper{
    display: grid;
    grid-template-columns: repeat(5, 160px);
    justify-content: space-between;
    width: 960px;
}

.privilege__image{
    margin-bottom: 35px;
}

/* Catalog */

.home-catalog{
    padding-top: 60px;
    padding-bottom: 100px;
}

.home-catalog__categories{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 35px;
}

.categories__item{
    position: relative;
    font: 600 22px/30px 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
}

.categories__item:after{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(248,237,83, 0.7);
    border-radius: 10px;
}

.sorters:hover:after{content: 'Игры сортеры'}
.matreshki:hover:after{content: 'Кубики-матрешки'}
.alphabet:hover:after{content: 'Алфавиты'}
.wood-games:hover:after{content: 'Деревянные игры'}
.magic-dressers:hover:after{content: 'Волшебные комодики'}
.bizicubiki:hover:after{content: 'Бизикубики'}

/* Latest */

.latest{
    padding-bottom: 90px;
}

/* Products carousel */

.products-carousel{
    position: relative;
    width: 1075px;
    margin: 0 auto;
    margin-top: 60px;
}

.product__arrow_prev{
    position: absolute;
    top: calc(50% - 14.5px);
    transform: rotate(180deg);
    left: -53px;
}

.product__arrow_next{
    position: absolute;
    top: calc(50% - 14.5px);
    right: -53px;
}

/* Product card */

.product-card{
    width: 250px;
    height: 420px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 248px;
    height: 268px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.product-card:hover:before{
    content: '';
    height: 436px;
    border-color: #F38E3D;
}

.product-card__image{
    width: 200;
    height: 200px;
    padding: 34px 23px;
}

.product-card__headline{
    font: 400 16px/22px 'Open Sans', sans-serif;
    display: inline-block;
    overflow: hidden;
    height: 44px;
}

.product-card__caption{
    margin-top: 14px;
    padding: 0 10px;
}

.product-card__info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 37px;
}

.info__quantity{
    font: 300 14px/19px 'Open Sans', sans-serif;
    color: #4F4F4F; 
}

.info__price{
    font: bold 20px/20px 'Ubuntu', sans-serif;
    color: #BD5605;
}

.info__price_old{
    font: normal 12px/12px 'Open Sans', sans-serif;
    color: #828282;
    text-decoration: line-through;
}

.product-card__btn{
    display: none;
    margin-top: 13px;
    padding: 5px 41px;
}

.product-card__btn:hover{
    background: transparent;
    color: #F38E3D;
}

.product-card_active .product-card__btn{
    display: block;
}

/* About us */

.aboutUs{
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 157px;
}

.about-us__items{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 340px);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    margin-top: 70px;
}

.about-us-img{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.about-us__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us__button{
    width: 162px;
    margin-top: 30px;
    padding: 10.5px 0;
    font: bold 18px/25px 'Open Sans', sans-serif;
    text-align: center;
}

.about-us__button:hover{
    background: transparent;
    color: #F38E3D;
}

/* Manufactures*/

.manufactures__carousel{
    position: relative;
    width: 994px;
    margin: 0 auto;
    margin-top: 66px;
}

.manufactures__arrow_next{
    position: absolute;
    top: calc(50% - 14.5px);
    right: -93px;
}

.manufactures__arrow_prev{
    position: absolute;
    transform: rotate(180deg);
    top: calc(50% - 14.5px);
    left: -93px;
}
/* Footer */

.footer{
    display: grid;
    grid-template-columns: auto-fit repeat(3, 1fr);
    padding-top: 68px;
    padding-bottom: 53px;
    background: #8E3F00;
    font: 400 16px/22px 'Open Sans', sans-serif;
    color: #FFFFFF;
}   

.footer__link{
    font: 400 16px/22px 'Open Sans', sans-serif;
    color: #FFFFFF;
}

